<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/default/banner-home.jpg');">
            <div class="content">
                <!-- <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> -->
                <h3><a class="light">Missão Mundial Graça e Paz</a></h3>
                <h4>Levanta o caido e da força ao que não tem nenhm vigor.</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Eventos
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Sobre Nós
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Galeria
            </a>
        </div>
        <h4 class="content padding double-padding-x">Ultimos Eventos</h4>
        <div class="list animate-fade-slide-in-right" ng-repeat="registro in registros">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="http://localhost/mmgpApp/www/{{registro.Noticia.imagem}}">
                <h2>{{registro.Noticia.titulo}}</h2>
                <p>{{registro.Noticia.chamada}}</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
